
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Descrição</h1>
<br />
<div class="text-body container">
    <p>
        1.	Deve existir uma seção "Meus repositórios", onde é listado todos os repositórios do candidato (você, que está lendo isso agora).
    </p>
    <p>
        2.	Deve existir uma seção onde o usuário pode procurar por repositórios do github utilizando como filtro nome ou parte do nome do repositório.
    </p>
    <p>
        3.	Deve existir uma seção listando repositórios favoritos (não são os seus favoritos e sim os marcados como favoritos por quem usar seu sistema, ver 5.1)
    </p>
    <p>
       4.	Ao clicar no nome de um repositório em qualquer lugar, devemos ir para uma tela de detalhes com nome, descrição, linguagem, última data de atualização e o dono do repositório. Abaixo disso, liste todos os contribuidores do projeto.
    </p>
    <p>
        5.	Na tela de detalhes do repositório, deve ser possível marcá-lo como repositório favorito (ver 5.1).
    </p>
    <p>
        5.1 O que significa marcar como favorito?
        Você deve salvar esta informação no servidor onde roda sua aplicação ASP.NET, não no Github e não no navegador do usuário. Para isso, use qualquer forma de armazenamento (arquivo de texto, banco embedded, qualquer coisa que não precise ser instalada. Seja criativo).
    </p>
</div>
