@using  GithubAPI.Models
@model  IEnumerable<Item>
@{
    ViewData["Title"] = "Repositórios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"] de Résmony</h1>
<br />
<table class="table table-sm table-hover table-borderless m-1">
    <thead>
        <tr>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rep in Model) {
            <tr>
                <td>@Html.ActionLink(rep.name, "RepInfo", rep)</td>
            </tr>

        }
    </tbody>
    
</table>
